<%= nested_form_for(@workflow) do |f| %>
  <% if @workflow.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@workflow.errors.count, "error") %> prohibited this workflow from being saved:</h2>

      <ul>
        <% @workflow.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description, :cols => 80, :rows => 5 %>
  </div>
  <div class="field">
    <%= f.label 'File' %><br />
    <%= f.file_field :document %>
  </div>
  <h2>Policy</h2>
  <%= f.fields_for(:policy, @workflow.policy) do |p| %>
    <%= render 'policies/permissions_form', :form => p, :policy => @workflow.policy %>
  <% end %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
