<p id="notice"><%= notice %></p>

<h1><%= @workflow.title %></h1>

<div class="description">
  <%= @workflow.description %>
</div>

Size: <%= @workflow.document.exists? ? number_to_human_size(@workflow.document.size) : '-' %><br/>
Uploader: <%= @workflow.author.name %>

<% if @workflow.can?(current_user, :edit) %>
  <h2>Policy</h2>
  <%= render 'policies/privilege_table', :policy => @workflow.policy %>
<% end %>

<div class="actions">
  <% if @workflow.can?(current_user, :edit) %>
    <%= link_to 'Edit', edit_workflow_path(@workflow) %> |
  <% end %>
  <%= link_to 'Back', workflows_path %>
</div>
