<p id="notice"><%= notice %></p>

<h1><%= @policy.title %></h1>

<%= render 'privilege_table', :policy => @policy %>

<%= link_to 'Edit', edit_policy_path(@policy) %> |
<%= link_to 'Back', policies_path %>
